@font-face {
    font-family: Roboto;
    font-weight: 700;
    src: url('/fonts/Roboto-Bold.ttf');
}

/* @font-face {
    font-family: 'Roboto';
    font-weight: 500;
    src: url('/Roboto-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    src: url('/Roboto-Regular.ttf') format('truetype');
} */