/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
     color: black;
     background-color: white;
     margin: 0;
     padding: 0;
     font-family: 'Roboto';
}