ul {
     text-decoration: none;

}

li {
     text-decoration: none;
}

.profile {
     width: 15%;
     margin-left: auto;
     margin-right: auto;
     margin-top: 50;

     border-radius: 15%;
}

.profile-img {
     width: 100%;
     border-radius: 50%;
}

.profile-name {
     text-align: center;
     font-size: 25px;
}