<div class="container">
     <div class="header">
          <div class="profile">
               <img src="../../assets/me.jpg">
          </div>
          
          <p>Hello I'm Jonah Schüller.</p>  
          <p>Software Developer</p>
     
     </div>

     <p class="commingSoon">Coming soon!</p>

</div>

<!-- <div class="profile">
     <div class="profile-name-container">
         <p class="profile-name-header">
               Hello, I am Jonah Schüller.
          </p>
          <p class="profile-name">
               Software Developer
          </p> 
     </div>
     
     <p class="profile-imgp">
          <img class="profile-img" src="../../assets/me.jpg">
     </p>
</div>

<div class="references">
     <a href="https://www.github.com/Bohne9"><img src="../../assets/github-brands.svg" alt="" class="github reference"></a>

     <a href="https://www.linkedin.com/in/jonah-schüller-a561831ab"><img src="../../assets/linkedin-in-brands.svg" alt="" class="linkedin reference"></a>
</div> -->