.container {
  min-height: 100vh;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
}

.main {
  padding: 0 20%;
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.meContainer {
  display: grid;
  /* width: 60%; */
  grid-template-columns: 40% 40%;
  gap: 10%;
}


.title {
  font-size: 2.5rem;
  font-weight: 700;
}

.subtitle {
  font-size: 1.25rem;
  font-weight: 600;
  color: rgba(0.24, 0.24, 0.26, 0.6);
}

.meText {
  font-size: 0.8rem;
  font-weight: 600;
  color: rgba(0.24, 0.24, 0.26, 0.35);
}

.right {
  float: right;
}

.avatar {
  width: 100%;
  float: right;
}

.githubContainer {
  background-color: black;
  padding: 5px 10px;
  border-radius: 5px;
  display: flex;
  color: white;
  text-align: center;
  align-items: center;
  margin-top: 3rem;
}

.githubText {
  padding: 10px;
  font-weight: 500;
}

.header {
  font-size: 2rem;
  font-weight: 700;
  text-align: left;
  width: 100%;
}

.header:hover {
  text-decoration: underline;
  cursor: pointer;
}

.contentContainer {
  /* display: flex;
  justify-content: flex-start; */
  width: 100%;
  margin-top: 5rem;
}


@media only screen and (max-width: 1000px) {
  .meContainer {
    display: flex;
    /* width: 60%; */
    /* grid-template-columns: none; */
    /* grid-template-rows: 45% 20%; */
    /* grid-auto-flow: dense; */
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 20%;
  }

  .avatar {
    margin-bottom: 25px;
    width: 70%;
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .right {
    float: none;
  }
}