.container {
    min-height: 100vh;
    margin: 0 1rem;
    margin-top: 80px;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    gap: 10px;
}

.postContent {

}

.postContent pre {
    font-family: 'Courier New', Courier, monospace;
    background-color: #293133;
    padding: 1rem;
    border-radius: 5px;
    color: white;
}

.postContent p code {
    font-family: 'Courier New', Courier, monospace;
    background-color: #293133;
    padding: 4px 8px;
    border-radius: 8px;
    color: white;
}