.container {
    min-height: 100vh;
    margin: 0 2rem;
    margin-top: 80px;
    display: grid;
    grid-template-columns: 20% 56% 20%;
    gap: 2%;
}

.postContent {

}

.postContent pre {
    font-family: 'Courier New', Courier, monospace;
    background-color: #293133;
    padding: 1rem;
    border-radius: 5px;
    color: white;
}

.postRelated {

}

.postTableOfContents {

}

.postContent p code {
    font-family: 'Courier New', Courier, monospace;
    background-color: #293133;
    padding: 4px 8px;
    border-radius: 8px;
    color: white;
}

@media only screen and (max-width: 1000px) {

    .container {
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
        gap: 20%;
        
    }

    .postRelated {
        visibility: hidden;
    }

}