.postContent {

}

.postContent pre {
    font-family: 'Courier New', Courier, monospace;
    background-color: #293133;
    padding: 1rem;
    border-radius: 5px;
    color: white;
}

.postContent p code {
    font-family: 'Courier New', Courier, monospace;
    background-color: #293133;
    padding: 0.4rem;
    border-radius: 5px;
    color: white;
}